.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../../../../img/fondo\ de\ pantalla\ para\ computadora\ collage\ de\ fotos\ con\ recuerdos\ amarillo\ y\ negro.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0;
    padding: 0;
 }
 .btn {
    margin: 0 10px;
    background-color: rgb(14, 14, 14);
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color:#ffcc50;
    font: normal 400 16px/16px Open sans;
    min-height: 35px;
    min-width: 100px;
    padding: 10px 25px;
    transition: 0.3s ease-out;
    font-weight: 600;
    font-family:'Franklin Gothic Medium';
 }
 .btn:hover {
      background-color:#ffcc50;
      color: black;
    }
 .btn:focus {
      box-shadow: 0 0 10px 2px #f38d2e90;
      outline: dashed 2px #ffcc50;
    }