.container {
    display:grid;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url("../../../../img/home7.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
 };
