.navSidebar {
  background-color: black;
  color: white;
  padding: 20px;
  width: 130px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.px solid aliceblue;
}

.navSidebar nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.orderContainer {
  margin-bottom: 20px;
}

.titles {
  font-size: 18px;
  margin-bottom: 10px;
}

.filterActivities {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  background-color: #353535;
  color: white;
  border: 1px solid #202020;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.4);
  font-size: 14px;
  margin-bottom: 20px;
}

.btn,
.btnOut {
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 10px;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  transition: transform 0.2s;
  font-size: 18px;
  margin-bottom: 10px;
}

.btn:hover,
.btnOut:hover {
  transform: scale(0.95);
  background-color: rgba(240, 248, 255, 0.801);
}