.navSidebar {
  position: fixed; /* Fija la barra de navegación en la posición deseada */
  top: 0; /* Coloca la barra en la parte superior de la página */
  left: 0; /* Coloca la barra en el lateral izquierdo */
  width: 13%; /* Ancho de la barra lateral */
  height: 100%; /* Ocupa toda la altura de la ventana */
  background-color: #353737; /* Color de fondo */
  padding: 5px; /* Espacio interior */
  display: flex;
  flex-direction: column; /* Hace que los elementos se apilen verticalmente */
  margin: 0px;
}

.btnFilter {
  width: 100%; /* Hace que los botones ocupen todo el ancho de la barra */
  font-size: 15px;
  text-align: center;
  padding: 10px 5px; /* Agrega un espacio de relleno para el texto dentro del botón */
  border: none; /* Elimina el borde del botón */
  background-color: transparent; /* Fondo transparente */
  color: white; /* Color del texto */
  transition: background-color 0.3s; /* Agrega una transición para cambiar el color de fondo */
  cursor: pointer; /* Cambia el cursor al puntero cuando se pasa sobre el botón */
  border-bottom: 1px solid white;
  border-radius: 4px;
  margin-top: 4px;
  height: 32px; /* Cambia la altura del botón a 40px */
}

.btnFilter:hover {
  background-color: rgba(255, 255, 255, 0.745);
  color: #dd3939;
}

.btn {
  width: 100%;
  text-align: center;
  padding: 10px 10px;
  border: none;
  background: linear-gradient(to bottom, #e05b5b, #c53a3a);
  color: white;
  box-shadow: 0px 5px 0px #a73333; /* Agrega una sombra inferior para el efecto de relieve */
  transition: background-color 0.3s;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.btn:hover {
  background: linear-gradient(to bottom, #c53a3a, #e05b5b);
  color: white;
  box-shadow: 0px 3px 0px #a73333; /* Reduce la sombra inferior en el estado hover */
}
.orderContainer {
  margin-top: 0;
}

.filterContainer {
  margin-bottom: 0;
}

.title {
  font-size: x-small;
  color:#202020;
  margin-top: 2px;
}

.btnOut {
  width: 70%;
  text-align: center;
  padding: 10px 10px;
  border: none;
  background: linear-gradient(to bottom, #e05b5b, #c53a3a);
  color: white;
  box-shadow: 0px 5px 0px #a73333; /* Agrega una sombra inferior para el efecto de relieve */
  transition: background-color 0.3s;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 5px;
  margin-left: 15px;
}

.btnOut:hover {
  background: linear-gradient(to bottom, #c53a3a, #e05b5b);
  color: white;
  box-shadow: 0px 3px 0px #a73333; /* Reduce la sombra inferior en el estado hover */
}

.orderContainer {
  background-color: rgba(255, 255, 255, 0.849);
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  border: 2px solid #c53a3a;
}

.select {
  border-radius: 5px;
  background-color: #353737;
  color: white;
  border: 1px solid #202020; /* Borde gris */
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.4); /* Sombra hundida */
  padding: 2px; /* Espacio interno */
  font-size: x-small;
  margin-top: 1px;
}
