.App {
  position: relative; /* Asegura que z-index funcione correctamente */
  background-attachment: fixed;
  z-index: 999; /* Un valor alto para asegurar que esté adelante de todo */
}

@media (max-width: 1047px) {
  .App {
    flex-direction: column-reverse; /* Cambia la dirección de flex para dispositivos pequeños */
  }
}