.cardContainer {
  display: flex;
  flex-direction: column; /* Cambiamos a columna para separar verticalmente */
  align-items: center;
  justify-content: center; /* Centra horizontal y verticalmente */
  position: relative;
  padding: 20px; /* Agregamos espacio interno al contenedor */
  text-align: center; /* Centramos el texto horizontalmente */
  margin-right: -27%;
  margin-left: 35%;
  margin-top: 7px;
  margin-bottom: 15px;
  background-color: aliceblue;
}

h2 {
  margin: 0;
  font-size: medium;
  color: rgb(10, 10, 10);
  padding: 2px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  white-space: nowrap; /* Evita el salto de línea del texto */
  overflow: hidden; /* Oculta el contenido que desborda el ancho */
  text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el contenido desborda */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.cardContainer:hover h2 {
  opacity: 1; /* Mostrar el título cuando el contenedor se encuentra en estado :hover */
}

img {
  width: 170px; /* Ancho automático para mantener la proporción */
  height: 108px; /* Altura fija */
  border-radius: 0.4em;
  filter: brightness(1.3);
  box-shadow: 10px 30px 30px rgba(17, 16, 16, 0.664);
  margin-top: 15px;
}
