.container {
    display: flex;
    justify-content:center;
    align-items:end;
    background-color:rgba(232, 30, 30, 0);
    padding: 10px;
  }

  .input {
    margin-left: 3rem;
    width: 15rem; 
    height: 2rem; 
    text-align: center;
    color:black;
    font-size: medium;
    border-radius: 8px;
  
    }
    
    .btnSearch {
      height: 2rem;
      width: 5rem;

      font-size: 1rem;
      text-align: center;
      background-color:white;
      color:black;
      font-weight: 600;
      border-radius: 8px;
      transition-delay: 0.015s;
    }