.container {
    margin: 5px;
    margin-left: 60px;
    margin-right: -400px;
    position: fixed;
    top: 25px;
    right: 40%;
    z-index: 999;
    height: 30px;
    width: 80%;
    border-radius: 8px;
    color: black;
    text-align: center;
}

.input{
    background-color:#494c4c; 
    height: 32px;
    width: 50%;
    color: aliceblue;
    border-radius: 8px;
    text-align: center;
}


