.container {
    margin: 5px;
    margin-left: 60px;
    margin-right: -265px;
    position: fixed;
    top: 10px;
    right: 40%;
    z-index: 999;
    height: 30px;
    width: 20%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(179, 176, 176, 0.2); /* Agrega una sombra si lo deseas */
    color: black;
    text-align: center;
}

.input{
    background-color:#353737; 
    height: 32px;
}


