.cardsContainer {
  position: fixed; /* Fija el contenedor en su posición */
  top: 23%; /* Ajusta la distancia desde la parte superior */
  left: 14%; /* Ajusta la distancia desde la izquierda */
  right: 10%; /* Ajusta la distancia desde la derecha */
  bottom: auto; /* Evita el posicionamiento desde la parte inferior */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, auto);
  row-gap: 60px;
  align-items: center;
  justify-content: center;
}

.paginationContainer {
  position: fixed;
  bottom: 20px; /* La barra de paginación se fijará en la parte superior */
  left: 53%; /* Centramos horizontalmente */
  transform: translateX(-50%); /* Centramos horizontalmente */
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinea los botones en la parte superior */
  margin-top: 10px;
  margin:1%;
  width: 80%; /* Ocupa todo el ancho */
}

.btn{
  background-color: #353737;
  box-shadow: 10px 30px 30px rgba(17, 16, 16, 0.537);
  color: #fff;
  border: none;
  padding: 5px 10px;  
  margin: 1px 20px;
  cursor: pointer;
}
.btn {
  background-color:#dd3939;
}

.span {
  color:rgb(249, 247, 247);
  font-size: medium;
}
